@model SimpleSocialNetwork.Models.ApplicationUser
@{
    ViewData["Title"] = "User profile";
}

<h1>Profile</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Avatar)</dt>
        <dd class="col-sm-10"><img src="@Url.Action("Photo", "Home", new { Id = Model.Id })" height="100" width="100" /></dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.PatronymicName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PatronymicName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.BirthDate)</dt>
        <dd class="col-sm-10">@Model.BirthDate?.ToString("d")</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Hobbies)</dt>
        <dd class="col-sm-10" style="white-space: pre-line">@Html.DisplayFor(model => model.Hobbies)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Friends)</dt>
        <dd class="col-sm-10">
            @if (Model.Friends != null && Model.Friends.Any())
            {
                foreach (var friend in Model.Friends)
                {
                    <a class="mr-2" asp-controller="Home" asp-action="UserProfile" asp-route-id="@friend.Id">@friend.FirstName</a>
                    if (ViewBag.isAuthorizedUser)
                    {
                        <a style="color: red; font-weight: bolder" asp-controller="Users" asp-action="RemoveFriend" asp-route-id="@friend.Id">X</a>
                    }
                    <br/>
                }
            }
            else
            {
                <p>There are no friends yet.</p>
            }
        </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.GalleryImages)</dt>
        <dd class="col-sm-10"><a asp-controller="ImageGallery" asp-action="Index" asp-route-userid="@Model.Id">Open</a></dd>
    </dl>
</div>
@if (ViewBag.isAuthorizedUser)
{
    <div>
        <a class="btn btn-primary" asp-controller="Home" asp-action="EditProfile" asp-route-id="@Model.Id">Edit profile</a>
    </div>
}
else
{
    if (!ViewBag.isFriend)
    {
        <a class="btn btn-primary" asp-controller="Users" asp-action="AddFriend" asp-route-id="@Model.Id">Add friend</a>
    }
}
